body {  
    background-color: #282828;
    color:wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    text-align: center;
}
.left{
    margin-left:5px;
}
a{
    text-decoration: none !important;
    color:wheat; 
}
.profile{
    margin-top: 50px;
    width: 260px;
}
button {
    /* display: flex; */
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    color:wheat;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #000000;
   }
   
   button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }